.signup__container{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background: url("../../assets/EBM_pic.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    backdrop-filter: brightness(20%);
    
}
.signup__content{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    width: 50%;
    height: 95%;
    background: rgb(228, 228, 228);
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}
.signup__header{
    text-align: center;
    color: #093e61;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}
.signup__form{
    display: flex;
    background: rgb(228, 228, 228);
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
}
.signup__label{
    color: gray;
    font-size: 0.9rem;
    line-height: 20px;
    font-family: 'poppins',sans-serif;
    font-weight: bold;
    padding: 0.2rem;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
}
.signup__input{
    padding: 0.6rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    border-radius: 15px;
    border:0.2px solid rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
}
.signup__btn{
    background-color:rgb(34, 146, 0); 
    margin-top: 2.5rem;
    padding: 0.8rem;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.signup__link{
    color: #093e61;
    text-emphasis: none;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
}
.signup__link:visited{
    color: #093e61;
}
.signup__input:disabled{
    background-color: rgb(190, 190, 190);
    border: none;
}
.signup__message{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 18rem;
}
.signup__message h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.signup__message p{
    color: white;
    font-size: 1.3rem;
    flex-wrap: wrap;
    line-height: 30px;
    overflow: hidden; 
  white-space: nowrap; 
  animation: typing 3s steps(50) infinite; 
}
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}
.signup__error{
    color: red;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    line-height: 20px;
}
.signup__success{
    color: rgb(0, 255, 85);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    line-height: 20px;
}