.home__container{
    display: flex;
    flex-direction: column;
    background-color:#093e61;
    height: 140vh;
    position: relative;
}
.home__btns{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px 20px;
    background-color: white;
    color: #093e61;
    border: none;
    border-radius: 40px;
}
.home__link{
    color: #093e61;
    text-decoration: none;
}
.home__link:visited{
    color: #093e61;
}
.contain{
    display: flex;
    flex-direction: column;
    background-color:#093e61;
    height: 550vh;

}
.app__headers{
    color: white;
    font-size: 2rem;
    margin-top: 1.3rem;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}
.app__content{
    margin-left: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 80%;
    padding: 20px 10px;
}
.content__header{
    font-size: 1rem;
    padding: 10px 30px;
    line-height: 32px;

}
.app__files{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    gap: 10px;
}
.files{
    width: 83%;
    height: 700px;
}
.app__head{
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}